body{
    background-color: white;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-family: futura-pt, sans-serif;
}

.masterhead{
    width: 100vw;
    background-color: #1ECBE1;
}

.website-name{
    padding-left: 40px;
    top: 50px;
    left: 50px;
    font-size: 3em;
    font-weight: 700;
    line-height: 55px;
}

.zipcode{
    position: absolute;
    top: 10px;
    right: 50px;
}

.current{
    background-color: #1EE196;
    width: 50vw;
    height: 60vh;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 50px;
    padding-left: 20px;
}

.location{
    font-size: 3em;
    font-weight: 700;
    padding-top: 10px;
}

.day-of-the-week{
    font-size: 2em;
    line-height: 25px;
}

.current-temp{
    font-size: 5.5em;
    position: absolute;
    left: 35vw;
    line-height: 60px;
}

.high-and-low-temp{
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 2em;
    left: 45vw;
    position: absolute;
    line-height: 35px;
}

.extra{
    position: absolute;
    padding-top: 100px;
    font-size: medium;
}

.hourly-forecast{
    width: 50vw;
    height: 90vh;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 20px;
    background-color: #3CD0E3;
}

.title{
    font-size: xxx-large;
    font-weight: 700;
    line-height: 50px;
    padding-top: 10px;
}

.time{
    position: absolute;
    left: 20vw;
    line-height: 3em;
}

.temp{
    position: absolute;
    left: 30vw;
    line-height: 3em;
}

.extra-info{
    background-color: #13616B;
    width: 50vw;
    height: 40vh;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 20px;
    font-size: x-large;
    color: white;
    line-height: 50px;
    padding-top: 2px;
}

.alerts{
    background-color: #13616B;
    width: 50vw;
    height: 35vh;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 20px;
    font-size: x-large;
    color: white;
    line-height: 50px;
    padding-bottom: 40px;
}

.alerts-head{
    font-size: xx-large;
    font-weight: 700;
    padding: 10px;
    padding-bottom: 2px;
}

.weekly-forecast{
    width: 20vw;
    position: absolute;
    right: 1vw;
    top: 65px;
    margin-top: 30px;
    margin-right: 50px;

    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
    grid-gap: 150px;
}

.day{
    background-color: #13616B;
    font-size: xx-large;
    font-weight: 600;
    color: white;
    padding: 10px;
}

.high-low-temps{
    word-spacing: 15px;
    font-size: larger;
    color: white;
    background-color: #13616B;
    padding: 10px;
    text-align: center;
}

.description{
    color: white;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #13616B;
}

p{
    margin: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.current-icon{
    padding: 10px;
}

.icon{
    background-position: center;
    padding: 10px;
    background-color: #13616B;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 800px) and (max-width: 1280px) {
    .weekly-forecast{
        width: 10vw;
        right: .75vw;
    }
}

@media only screen and (max-width: 800px) {
    .weekly-forecast{
        width: 10vw;
        margin-right: 50px;
        right: 50px;
    }

    .current{
        height: 70vh;
    }

    .hourly-forecast{
        height: 100vh;
    }

    .weekly-forecast{
        width: 3vw;
        margin-left: 10px;
    }
}